header {
  background: pink; /* !important:Da prioridad a esta configuración */
  color: red /* Cuando no hay ";", termina la regla */
}

/*
  Regla: Desde el header hasta el cierre de llaves {}
  Selectores:
    -Selector de etiqueta: Afecta a toda la etiqueta
      header - section - article
    -Selector descendente: Afecta a la etiqueta exacta que indiques
      body header div nav ol li a
    -Selector de clase: Equivalente a un id, afecta a elementos que tengan una misma clase
      .link
    -Selector de id: Afecta a elemento con el idea (href)
      #portafolio
  Declaraciones: Todo lo de las llaves en sí
  Propiedades: Cada línea (background - color)
  Valores: El valor asignado
*/
 /*
  Colores: https://developer.mozilla.org/es/docs/Web/CSS/color_value
    -Palabras clave: Red - Blue - etc.
    -Hexadecimales: #000000
      Son 6 dígitos que van del 0 al F(16)
        #123456 --> 12 son rojo - 34 son verde - 56 son azul
    -hls() hlsa()
    -Color más exacto es rgb() o rgba()
  Pixeles:
    -Unidades homogéneas de color - Básicamente manejan el tamaño.
*/

body {
  font-family: "Source Sans Pro", sans-serif;
}
/* Font familiy: Tipo de letra - Si no encuentra el 1ro, aplica el 2do
   Cuando son varias palabras entre comillas */
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
  /* font-style: italic; */
}
/* Aplicar estilo a varias etiquetas con ","
   sans-serif --> Predeterminado*/
/*
  color: El color.
  line-height: Altura desde la base del texto hasta la base de la siguiente línea de texto.
  font-size: Tamaño del texto, admite cualquier unidad de medida disponible.
  letter-spacing: Espaciado entre las letras del texto.
  font-weight: Transparencia (negrita-normal-light) - Se indica en múltiplos de 100 o keywords.
  text-decoration: Decorado (subrayado-tachado-subrayado superior).
  text-transform: Transformar el estado de mayúsculas / minúsculas.
    -uppercase para mayúsculas sostenidas.
    -lowercase para minúsculas sostenidas.
    -capitalize para las primeras letras.
*/
h1 {
  font-size: 40px;
  line-height: 1.5; /* 1.5 --> 150% (De 0 a 1 es 0% a 100%) */
  letter-spacing: -.2px;
  /*text-transform: uppercase*/
  /*text-decoration: underline;*/
  color: white;
}

h1 strong{
  color: #026fff;
}

/* Todo lo que empiece con un "."
   son una clase */

.hero {
  height: 300px; /* Es el alto de todo el elemento ".hero" */
  background-image: url(../hero.jpg); /* ../:Salir de la carpeta */
  background-size: 500px 300px;
  /* background-size: width height */
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #1b2127;
}
.project-details {
  width: 500px;
}
.project-imageContainer {
  width: 500px;
}

/*
  background: Le da pie a las demás funciones. - Respecta al fondo.
  background-image: Url que se usará como fondo del elemento.
  background-color: Color de fondo.
  background-size: Valores de alto y ancho.
    -cover:
    -contain:
  background-position: Posición de la imagen dentro del elemento - Unidades de medida.
    -center: Centro
    -left: Izquierda
    -top: Arriba
    -right: Derecha
  background-repeat: Método de repetición de la imagen de fondo.
    -repeat: Que se repita normal.
    -repeat-x: Que se repita en el eje X.
    -repeat-y: Que se repita en el eje Y.
    -no-repeat: Que no se repita.
*/

.header{
  background-color: #1b2127;
  color: white;
}
