header {
  background: pink; /* !important:Da prioridad a esta configuración */
  color: red /* Cuando no hay ";", termina la regla */
}

/*
  Regla: Desde el header hasta el cierre de llaves {}
  Selectores:
    -Selector de etiqueta: Afecta a toda la etiqueta
      header - section - article
    -Selector descendente: Afecta a la etiqueta exacta que indiques
      body header div nav ol li a
    -Selector de clase: Equivalente a un id, afecta a elementos que tengan una misma clase
      .link
    -Selector de id: Afecta a elemento con el idea (href)
      #portafolio
  Declaraciones: Todo lo de las llaves en sí
  Propiedades: Cada línea (background - color)
  Valores: El valor asignado
*/
 /*
  Colores: https://developer.mozilla.org/es/docs/Web/CSS/color_value
    -Palabras clave: Red - Blue - etc.
    -Hexadecimales: #000000
      Son 6 dígitos que van del 0 al F(16)
        #123456 --> 12 son rojo - 34 son verde - 56 son azul
    -hls() hlsa()
    -Color más exacto es rgb() o rgba()
  Pixeles:
    -Unidades homogéneas de color - Básicamente manejan el tamaño.
*/

body {
  font-family: "Source Sans Pro", sans-serif;
}
/* Font familiy: Tipo de letra - Si no encuentra el 1ro, aplica el 2do
   Cuando son varias palabras entre comillas */
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Fjalla One", sans-serif;
}
/* Aplicar estilo a varias etiquetas con ","
   sans-serif --> Predeterminado*/
